#header-title{
    text-align: center;
}
.items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
}

.item{
    width: 30%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 5px;
    border-color: black;
    background-color:#999999;
    border-radius: 5px;

}

#part-title1{
    background-color: #D59898	;
    width: 60px;
    float: right;
    text-align: center;
    font-weight: bold;   
}
#part-title2{
    background-color: #C14543;
    width: 60px;
    float: right;
    text-align: center;
    font-weight: bold;  
}
#part-title3{
    background-color: #E5D198;
    width: 60px;
    float: right;
    text-align: center;
    font-weight: bold;
      
}
.partOfText{
    padding: 10px;    
}
.item:hover {
opacity: 0.8;
}

@media screen and (max-width:768px){
    .item{
        width: 45%;
    }
    #item-sushi{
        width: 100%;
    }
}
@media screen and (max-width:480px){
    .item{
        width: 100%;
    
}
#beef{
    color: white;
}